%canvas#preview-area

#options
  .option
    %label{for: 'speed'} Speed:
    %input{id: 'speed', type: 'range', min: '0.1', max: '5', step: '0.1', value: '1'}
    .value 1.0x
  .option
    %label{for: 'reverse'} Reverse:
    %input{id: 'reverse', type: 'checkbox'}
  .option
    #frame-ticker.value

#controls
  #frame-selector
  #panel
    %button{ onclick: 'gif.previous()', id: 'prev', disabled: 'disabled', title: 'Previous' }=fa_icon 'step-backward'
    %button{ onclick: 'gif.animateToggle()', id: 'toggle', disabled: 'disabled', title: 'Play' }=fa_icon 'play'
    %button{ onclick: 'gif.next()', id: 'next', disabled: 'disabled', title: 'Next' }=fa_icon 'step-forward'

#loading-overlay
  #loading-content
    %span#loading-text<>
      Loading image metadata
    %span#loading-ellipsis<>
      ='...'

#adbar

:javascript
  $(function() {
    getMetadata();
  });